<!DOCTYPE html>
<html lang="[PAGE_BUILDER_LANG]">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO -->
    <title>[PAGE_BUILDER_TITLE]</title>
    <meta name="description" content="[PAGE_BUILDER_SEO_DESCRIPTION]">
    <meta name="author" content="[PAGE_BUILDER_SEO_AUTHOR]">
    <meta name="robots" content="[PAGE_BUILDER_SEO_ROBOT]">
    <meta name="keywords" content="[PAGE_BUILDER_SEO_KEYWORDS]">
    <meta property="og:title" content="[PAGE_BUILDER_TITLE]">
    <meta property="og:description" content="[PAGE_BUILDER_SEO_DESCRIPTION]">
    <meta property="og:image" content="[PAGE_BUILDER_SEO_IMAGE]">
    <meta property="og:image:secure_url" content="[PAGE_BUILDER_SEO_IMAGE]">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Nooryak CRM">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="[PAGE_BUILDER_TITLE]">
    <meta name="twitter:description" content="[PAGE_BUILDER_SEO_DESCRIPTION]">
    <meta name="twitter:image" content="[PAGE_BUILDER_SEO_IMAGE]">
    <meta name="csrf-name" content="[PAGE_BUILDER_CSRF_NAME]">
    <meta name="csrf-token" content="[PAGE_BUILDER_CSRF_TOKEN]">
    <link rel="canonical" href="[PAGE_BUILDER_PAGE_URL]">
    <link rel="icon" href="[PAGE_BUILDER_FAVICON]">

    <!-- FontAwesome 6.5.2 CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
        href="[PAGE_BUILDER_APP_BASE_URL]/media/master/public/page_builder/pages/softland/assets/css/nooryak-style.css">
    <!-- Bootstrap Icons 1.11.3 CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<script src="[PAGE_BUILDER_APP_BASE_URL]/media/master/public/page_builder/pages/softland/assets/js/nooryak-script.js"></script>

<script src="[PAGE_BUILDER_APP_BASE_URL]/media/master/public/page_builder/pages/softland/assets/landingpage/js/script.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<link data-custom-vvveb-helpers-sections="" 
      href="[PAGE_BUILDER_APP_BASE_URL]/modules/page_builder/assets/vvvebjs/sections/css/sections.css" 
      rel="stylesheet">

<link data-custom-vvveb-helpers-sections="" 
      href="[PAGE_BUILDER_APP_BASE_URL]/modules/page_builder/assets/vvvebjs/css/common.css" 
      rel="stylesheet">

<script data-custom-vvveb-helpers-sections="" 
        src="[PAGE_BUILDER_APP_BASE_URL]/modules/page_builder/assets/vvvebjs/js/common.js"></script>
        
<script>
    $(document).ready(function () { 
        $(".chartjs").each(function () { 
            var ctx = $("canvas", this).get(0).getContext("2d"); 
            var config = JSON.parse(this.dataset.chart); 
            new Chart(ctx, config); 
        }); 
    });			  
</script>

    <style>
        html {
            width: 100%;
            overflow-x: hidden;
        }
    </style>

    <!-- User Custom css from builder -->
    <style id="meta-custom-styles">
        [PAGE_BUILDER_CUSTOM_CSS]
    </style>

    [PAGE_BUILDER_DANGEROUS_EXTRA_CUSTOM_CODE]
</head>

<body>
    <!-- Page content -->
    [PAGE_BUILDER_CONTENT]

    <!-- Component css from builder -->
    <style id="builder-styles">
        [PAGE_BUILDER_COMPONENTS_CSS]
    </style>

    <!-- Component js from builder -->
    <script id="builder-scripts">
        [PAGE_BUILDER_COMPONENTS_JS]
    </script>

</body>

</html>